/*Stuff for all pages*/
body {
    background-color: #F1E9D2;
    margin-left: 200px;
    margin-right: 200px;
}

a {
    color: #D6B85A;
}

#header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 70%;
    height: 110px;
    color: #D6B85A;
    background-color: #678D58;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}

a.button {
    padding: 6px;
    border: 1px outset #784F41;
    border-radius: 3px;
    color: #784F41;
    background-color: #A6C48A;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
}

#main {
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 140px;
    color: #784F41;
    font-family: 'Arbutus Slab', 'Cambria', serif;
}

#sidebar {
    position: fixed;
    z-index: 2;
    float: left;
    width: 10%;
    height: 400px;
    color: #D6B85A;
    background-color: #678D58;
    font-size: 22px;
    font-family: 'Cambria', serif;
    font-weight: bold;
    border-radius: 3px; 
    padding-left: 22px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#side-list {
    z-index: 1;
    font-family: 'Andada Pro' 'Andale Mono', monospace;
    font-size: 18px;
    line-height: 2em;
}

    /*Stuff for Resume page*/
    #about-me {
        position: absolute;
        left: 210px;
        z-index: 1;
        width: 60%;
    }

    #profile-pic {
        z-index: 1;
        width: 300px;
        border: 6px ridge #D6B85A;
    }

    #about-paragraph {
        position: absolute;
        z-index: 1;
        left: 320px;
        top: 80px;
        width: 505px;
        height: 267px;
        background-color: #A6C48A;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
        font-size: 20px;
        line-height: 1.75em;
        border-radius: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 0px;
    }

    span {
        z-index: 1;
        font-weight: bold;
    }

    #career-focus {
        position: absolute;
        z-index: 1;
        left: 210px;
        top: 400px;
        width: 66.3%;
        color: #D6B85A;
        background-color: #784F41;
        font-family: 'Arbutus Slab', 'Cambria', serif;
        font-size: 18px;
        border-radius: 3px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #career-text {
        z-index: 1;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
    }

    #education {
        position: absolute;
        z-index: 1;
        left: 210px;
        top: 580px;
        width: 66.3%;
        color: #784F41;
        background-color: #A6C48A;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
        font-size: 18px;
        border-radius: 3px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #edu-header {
        font-family: 'Arbutus Slab', 'Cambria', serif;
    }

    #logo {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 420px;
        width: 400px;
    }

    #experience {
        position: absolute;
        z-index: 1;
        left: 210px;
        top: 780px;
        width: 70.5%;
        color: #784F41;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
    }

    #exp-header {
        width: 96.3%;
        color: #D6B85A;
        background-color: #678D58;
        font-family: 'Arbutus Slab', 'Cambria', serif;
        border-radius: 3px;
        padding: 10px;
    }

    .exp-item-header {
        width: fit-content;
        background-color: #A6C48A;
        font-family: 'Arbutus Slab', 'Cambria', serif;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 3px;
    }

    .first {
        font-style: italic;
    }

    #tech-skills {
        position: absolute;
        z-index: 1;
        left: 210px;
        top: 1385px;
        width: 66.3%;
        color: #D6B85A;
        background-color: #784F41;
        font-family: 'Arbutus Slab', 'Cambria', serif;
        font-size: 18px;
        border-radius: 3px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #tech-text {
        font-family: 'Andada Pro' 'Andale Mono', monospace;
    }

    #achievements {
        position: absolute;
        z-index: 1;
        left: 210px;
        top: 1550px;
        width: 70.5%;
        color: #784F41;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
    }

.div-header {
    width: 96.3%;
    color: #D6B85A;
    background-color: #678D58;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    border-radius: 3px;
    padding: 10px;
}

.div-item-header {
    width: fit-content;
    background-color: #A6C48A;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
}

.div-footer {
    width: 96.3%;
    background-color: #A6C48A;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
}

    /*Stuff for Projects page*/
    .indent {
        margin: 20px;
    }

    #csi-2999 {
        position: absolute;
        left: 210px;
        width: 70.5%;
        color: #784F41;
        font-family: 'Andada Pro' 'Andale Mono', monospace;
    }

    /*Stuff for FRC page*/
    .frc-div-header {
        width: 96.3%;
        color: #784F41;
        background-color: #A6C48A;
        font-family: 'Arbutus Slab', 'Cambria', serif;
        border-radius: 3px;
        padding: 10px;
    }

    #auton-routines {
        position: absolute;
        left: 210px;
        width: 70.5%;
    }

    #auton-list {
        position: absolute;
        left: 255px;
        top: 90px;
        font-size: 20px;
        line-height: 2em;
    }

    #robot-image {
        position: absolute;
        top: 284px;
        left: 275px;
        width: 450px;
        border: 4px solid #D6B85A;
    }

    #frc-accomplishments {
        position: absolute;
        left: 210px;
        top: 555px;
        width: 70.5%;
    }

    .frc-list {
        font-size: 18px;
        line-height: 1.5em;
    }

    #stats-image {
        position: absolute;
        left: 500px;
        top: 90px;
        width: 300px;
    }

#footer {
    position: absolute;
    z-index: 2;
    width: 70.7%;
    height: 75px;
    top: 1975px;
    color: #D6B85A;
    background-color: #678D58;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    text-align: center;
    line-height: 0.5em;
    border-radius: 3px;
    padding: 5px;
}

#footer-projects {
    position: absolute;
    z-index: 2;
    width: 70.7%;
    height: 75px;
    top: 720px;
    color: #D6B85A;
    background-color: #678D58;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    text-align: center;
    line-height: 0.5em;
    border-radius: 3px;
    padding: 5px;
}

#footer-frc {
    position: absolute;
    z-index: 2;
    width: 70.7%;
    height: 75px;
    top: 1050px;
    color: #D6B85A;
    background-color: #678D58;
    font-family: 'Arbutus Slab', 'Cambria', serif;
    text-align: center;
    line-height: 0.5em;
    border-radius: 3px;
    padding: 5px;
}

